progress-bar {
    .progress {
        width: 0%;
        height: 100%;
    }
    .progress-wrap {
        background: rgba(76, 175, 80, 0.1);
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .green {
        background: rgba(76, 175, 80, 0.1);
    }
    .yellow {
        background: rgba(255, 235, 59, 0.1);
    }
    .red {
        background: rgba(244, 67, 54, 0.1);
    }
}
