<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>{{ 'BOOK_LIST_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ng-template #newBook>
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          {{ 'BOOK_LIST_EMPTY_TITLE' | translate }}
        </ion-card-title>
        <p>{{ 'BOOK_LIST_EMPTY_CONTENT' | translate }}</p>
      </ion-card-content>

      <ion-row no-padding>
        <ion-col text-right>
          <button ion-button clear color="primary" (click)="addBook()" icon-start>
            <ion-icon name='add'></ion-icon>
            {{ 'BOOK_CREATE_TITLE' | translate }}
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ng-template>

  <ion-spinner class="loader" *ngIf="loading" padding name="dots"></ion-spinner>

  <ion-list *ngIf="books?.length > 0; else newBook">
    <ion-item-sliding class="item" *ngFor="let book of books">
      <button ion-item (click)="openBook(book)">
        <h2>{{book.name}}</h2>
        <p>{{book.author}}</p>
        <p>{{book.year}}</p>
        <ion-note item-end *ngIf="book.note">{{book.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(book)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="dots" loadingText="{{ 'BOOK_LIST_LOAD_BOOKS' | translate }}"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab right bottom>
    <button ion-fab color="dark_primary_color" (click)="addBook()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
