<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'BOOK_LIST_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list *ngIf="books?.length > 0">
    <ion-item-sliding class="item" *ngFor="let item of books">
      <button ion-item (click)="openItem(item)">
        <h2>{{item.name}}</h2>
        <p>{{item.author}}</p>
        <p>{{item.year}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <p *ngIf="books?.length < 1">
    {{ 'BOOK_LIST_INVITATION_CREATE' | translate }}
  </p>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addBook()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
