<ion-header>

	<ion-navbar color="primary" no-border-bottom>
		<button ion-button menuToggle icon-only>
			<ion-icon name='menu'></ion-icon>
		</button>

		<ion-title>{{ 'BOOK_DETAIL_TITLE' | translate }}</ion-title>
	</ion-navbar>
</ion-header>


<ion-content>
	<ion-card *ngIf="lastStory">
		<ion-card-header>
			<p class="name">Chapter: {{ lastStory.chapter }} Page: {{ lastStory.page }}</p>
			<span class="author">{{ lastStory.date }}</span>
		</ion-card-header>
		<ion-card-content>
			{{ lastStory.summary }}
		</ion-card-content>
	</ion-card>

	<ion-list *ngIf="stories?.length > 0">
		<button ion-item *ngFor="let story of stories" (click)="openStory(story)">
			<h2>Chapter: {{ story.chapter }} Page: {{ story.page }}</h2>
			<h3>{{ story.date }}</h3>
			<p>{{ story.summary }}</p>
		</button>
	</ion-list>

	<ion-spinner class="loader" *ngIf="stories?.length < 1" padding name="dots"></ion-spinner>

	<ion-fab right bottom>
		<button ion-fab color="secondary" (click)="addStory()"><ion-icon name="add"></ion-icon></button>
	</ion-fab>

</ion-content>
