<ion-header>

	<ion-navbar color="primary" no-border-bottom>
		<button ion-button menuToggle icon-only>
			<ion-icon name='menu'></ion-icon>
		</button>

		<ion-title>{{ 'BOOK_DETAIL_TITLE' | translate }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-card *ngIf="lastStory; else newStory">
		<ion-card-header>
			<p class="name">Chapter: {{ lastStory.chapter }} Page: {{ lastStory.page }}</p>
			<span class="author">{{ lastStory.date }}</span>
		</ion-card-header>
		<ion-card-content>
			{{ lastStory.summary }}
		</ion-card-content>
	</ion-card>

	<ng-template #newStory>
		<ion-card>
				<ion-card-content>
					<p>{{ 'BOOK_DETAIL_EMPTY_CONTENT' | translate }}</p>
				</ion-card-content>

				<ion-row no-padding>
					<ion-col text-right>
						<button ion-button clear color="primary" (click)="addStory()" icon-start>
							<ion-icon name='add'></ion-icon>
							{{ 'STORY_CREATE_TITLE' | translate }}
						</button>
					</ion-col>
				</ion-row>
			</ion-card>
	</ng-template>

	<ion-spinner class="loader" *ngIf="loading" padding name="dots"></ion-spinner>

	<ion-list *ngIf="stories?.length > 0">
		<button ion-item *ngFor="let story of stories" (click)="openStory(story)">
			<h2>Chapter: {{ story.chapter }} Page: {{ story.page }}</h2>
			<h3>{{ story.date }}</h3>
			<p>{{ story.summary }}</p>
		</button>
	</ion-list>

	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="dots" loadingText="{{ 'BOOK_LIST_LOAD_BOOKS' | translate }}"></ion-infinite-scroll-content>
	</ion-infinite-scroll>

	<ion-fab right bottom>
		<button ion-fab color="secondary" (click)="addStory()"><ion-icon name="add"></ion-icon></button>
	</ion-fab>

</ion-content>
